# Application Information
VITE_PROJECT_NAME=MongoDB Microsite
VITE_VERSION=0.1.0

# API Configuration
VITE_API_BASE_URL=http://localhost:8000
VITE_API_V1_STR=/api/v1

# Environment
NODE_ENV=development
