# Application
PROJECT_NAME=your-project-name
VERSION=0.1.0
API_V1_STR=/api/v1

# Server
HOST=0.0.0.0
PORT=8000

# MONGODB CONFIGURATION
# Cloud MongoDB (uncomment to use)

# Local MongoDB
MONGODB_URI=your-mongo-db-uri
MONGODB_DB_NAME=your-mongo-db-name

# AZURE BLOB CONFIGURATION
AZURE_BLOB_SAS_URL=your-azure-blob-sas-url

# CORS (comma-separated)
BACKEND_CORS_ORIGINS=backend-url

# Security
SECRET_KEY=your-secret-key-here-change-in-production

# JWT Settings
JWT_SECRET_KEY=dev-jwt-secret-key-change-in-production
JWT_ALGORITHM=jwt-algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=your-expire-time
