# Application
PROJECT_NAME=you-project-name
VERSION=0.1.0
API_V1_STR=/api/v1

# Server
HOST=0.0.0.0
PORT=8000

# CORS (comma-separated)
BACKEND_CORS_ORIGINS=backend-url

# Security
SECRET_KEY=your-secret-key-here-change-in-production
JWT_SECRET_KEY=jwt-secret-change-in-production-use-strong-random-string
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# MongoDB Atlas Configuration
# For local MongoDB: mongodb://localhost:27017
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/?appName=appname
MONGODB_URL=your-mongo-url
MONGODB_DB_NAME=your-db-name
